.DS_Store
*.o

*.obj
*.dSYM
src/loadelf/loadelf
tiniy
test/cpptest
TiniyOs/libs/dietlibc-0.34
*.xz
TiniyOs/so
add.s
test
tool
bochsout.txt
1.s
build/x86emu/x86emu.xcodeproj/xcuserdata/tony.xcuserdatad/xcdebugger
UserInterfaceState.xcuserstate
libs
*.exe
*.a
2.s
